name: Upload iOS App

on:
  workflow_dispatch:

jobs:
  upload:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: List files (debug)
        run: ls -R

      - name: Setup Ruby (for Fastlane)
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Install Fastlane
        run: gem install fastlane

      - name: dd06465e-7cbb-4b9f-8029-0297a3b26371.ipa to App Store Connect
        run: |
          fastlane deliver \
            --ipa ./MyApp.ipa \
            --api_key_path ./AppStoreConnectAPIKey.json \
            --skip_metadata true \
            --skip_screenshots true \
            --force
